<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kijjapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity">
        </activity>

        <activity android:name=".HomeActivity">
        </activity>

        <activity android:name=".UpcomingActivity">
        </activity>

        <activity android:name=".NewBookingsActivity">
        </activity>

        <activity android:name=".ProfileActivity">
    </activity>

        <activity android:name=".PointsActivity">
        </activity>

        <activity android:name=".LearnMoreActivity">
        </activity>

        <activity android:name=".SignUpActivity">
        </activity>



    </application>

</manifest>